.card{
  padding: 20px;
  background: #fff;
  box-shadow: 0 1px 7px 0 rgb(0 0 0 / 40%);
  border-radius: 8px;
  color: #666;
  margin-top: 2%;
  h1{
    border-bottom: 1px solid #666;
    text-transform: uppercase;
    margin-top: 5px;
  color: #000;

    font-size: 20px;
    padding-bottom: 9px;
  }
}
