.input_filed
{
  border:1px solid red;

}

.login_wrapper{
  .logo_wrapper{
    text-align: center;
    margin-top: 40px;
  }

  .btn{
     padding: 13px 5px;
     width: 100%;
     border-radius: 100px;
    }


}
